NODE_ENV=development
PORT=4005

# Database
DATABASE_URL=postgresql://payment:payment_dev@localhost:5436/payment

# Redis
REDIS_URL=redis://localhost:6379

# Midtrans
MIDTRANS_SERVER_KEY=your-sandbox-server-key
MIDTRANS_CLIENT_KEY=your-sandbox-client-key
MIDTRANS_IS_PRODUCTION=false
